*, *::before, *::after {
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: x-large;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;

}

body {
--hue: var(--hue-neutral);
padding: 0;
margin: 0;
display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
background-color: hsl(var(--hue), 100%, 20%)

}
body.correct {
    --hue: var(--hue-correct);
}

.container {
    width: 680px;
    max-width: 80%;
    background-color:rgba(52, 202, 114, 0.623);
    border-radius: 5px;
    box-shadow: 0 0 10px 10px;
    margin-right: 50px;
   
}
/* question buttons */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 20px 0;
}
.btn {
    --hue: var(--hue-neutrl);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color:floralwhite;
    padding: 5px 10px;
    border-radius: 5px;
    color:mediumblue;
    outline: none;
}
.btn:hover {
    border-color: black;
}
.btn.correct {
    --hue: var(--hue-correct);
    color:black;
}

.btn.wrong{
    --hue: var(--hue-wrong);
}
.start-btn, .next-btn {
    font-size: 2em;
    font-weight: bold;
    padding: 50px 10px;
    justify-self: auto;
}
.controls {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.timer {
    height: 200px;
    padding: px;
    background: #13293d;
    color: #fff;
    text-align: center;
    border-radius: 50px;
   
  }
  
  .timer-text {
    padding: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }


  .reset-button {
    font-size: 20px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
    margin-right: 10px;
  }


  .win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px; 
    /* box-shadow: 0 0 10px 10px; */

  }


  section {
    flex: 0 auto;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 50px;
  }
  





 /* 
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
  }