*, *::before, *::after {

  /* box-sizing: border-box; */
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: x-large;
}
:root {
    --hue-neutral: 180;
    --hue-wrong: 10;
    --hue-correct: 145;

}
#nav{
  display: flex;
  background-color:lightyellow;
}
body {
--hue: var(--hue-neutral);
padding: 10;
height: 100vh;
/* width: 50vw; */
justify-content: center;
/*align-items: center;*/
background-color: hsl(var(--hue), 100%, 20%)

}
body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}


.container {
  display: flex; 
  /*padding: 10px; */
  margin: auto;
    background-color:mediumaquamarine;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px;
    margin: 80px;
  /* margin-right: 10px; */
}
.question-container{
  display: flex; 
 /* width: 600px; 
  max-width: 50%; 
  background-color:mediumaquamarine;
      border-radius: 10px;
  box-shadow: 0 0 10px 10px;*/
  justify-self: auto;
  margin: auto;

}
.question{
 /* justify-content:right;*/
  margin:auto;
  justify-self: auto;
  display: flex; 

}
.answer-button{
  display: flex;
    margin: 10px;
    border: 30px solid ;

}
/* question buttons */
.btn-grid {
    display: grid;
    justify-content:space-around;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    --hue: var(--hue-neutrl);
    display: flex;
    margin: 2px;
    border: 6px solid ;
    background-color:rgb(13, 27, 221);
    padding: 5px 10px;
    border-radius: 1px;
    color:white;
    /* outline:none; */
}
.btn:hover {
    border-color:rebeccapurple;
    padding: 10px;
    
    /*border-bottom: var(--hue-wrong); */
}
.btn.correct {
    --hue: var(--hue-correct);
    color:rgb(80, 228, 35)
}

.btn.wrong{
    --hue: var(--hue-wrong);
    color:tomato;


    }

.next-btn {
 display:flex;
  /*font-size: .2em;*/
  font-weight:lighter
  margin: 20px;
  padding: 20px 10px; 
  justify-self: auto; 
    }

.start-btn {
  display: flex;  
      padding: 10px; 
    margin: auto;
    /*font-size: 2em;*/
    font-weight:normal;
   /* padding: 50px 10px; */
    justify-self: auto; 
    }

.controls {
  display: flex;
  margin: auto;
    /*justify-content: center;*/
   /* margin: 20px;*/
}

.hide {
    display: none;
}

.timer {
  display: flex;  
  /*height: 520px;*/
    padding: 10px; 
    margin: auto;
    background: #13293d;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px;
   
  }
  
  .timer-text {
    padding: 20px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }


  .reset-button {
    font-size: 20px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
    margin-right: 10px;
  }


.results-container

 {
    display: flex;
   /* justify-content: space-between;  */
    margin-top: 6px; 
    /* box-shadow: 0 0 10px 10px; */

  }
#main {
  font-size: 30px;
    height: 30px;
    line-height: 8px;
    margin-top: 10px;
    text-align: center;
}

  #section {
    /*flex: 0 auto;*/
   /* padding: 20px;*/
       margin-top: 10px;
    background-color: white;
    padding: auto;
    border-radius: 50px;
    
  }

  #navBar {
    background-color: #fff;
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 3rem;
}

#navBar a {
    color: #333;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 1rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
}

#navBar a:hover{
  
  border-color:rebeccapurple;
  padding: 10px;
  text-decoration: underline;

