*, *::before, *::after {


    /* box-sizing: border-box; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  }
  :root {
      --hue-neutral: 200;
      --hue-wrong: 0;
      --hue-correct: 145;
  
  }
    
body {

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;  
    --hue: var(--hue-neutral);
    padding: 10;

    height: 100vh;
    justify-content: center;
   
    background-color: hsl(var(--hue), 100%, 20%)
        
    text-align: center;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
}
  